<template>
    <div>
        <a-page-header
                style="border: 1px solid rgb(235, 237, 240)"
                title="Ayudanos"
                @back="() => $router.go(-1)"

        >
          Si deseas realizar un donativo para este proyecto social, puedes hacerlo a través de las siguientes cuentas de YAPE / BCP.
          Con ello podremos:
          <li>
            <ul>
              1)  Seguir colocando más puntos de medición (Compra de oxímetros, banner y materiales de limpieza)
            </ul>
            <ul>
              2) En una siguiente fase, brindar un apoyo económico a los operarios de los puntos de medición que ahora lo hacen de manera voluntaria en los horarios de atención de sus negocios
            </ul>
            <ul>
              3) Desarrollar pulsioxímetros de bajo costo para su uso en zonas de bajos recursos

            </ul>
          </li>
      Cualquier consulta o duda, así como propuestas de donativos, pueden hacerla llegar al siguiente correo:
          <a href="mailto:oximetroperu2020@gmail.com" target="_blank"> oximetroperu2020@gmail.com</a>


            <a-row  type="flex" justify="space-around" :gutter="[8,8]">
                <a-col v-for="(item,n) in metodos"
                       :key="n"
                       :span="6"
                       offset="2"
                       :md="6"
                       :sm="8"
                       :lg="4"
                       :xs="16">
                    <a-card :style="{background: item.background} "  >

                        <img
                          v-if="item.imgHeader"
                                slot="cover"
                                style="height: auto;width: 64px; margin-left: auto; margin-top: 12px;
                                 margin-right: auto;"
                                :src="item.imgHeader"
                        />
                      <h1 v-else style="color: white;margin-left: auto;
                                 margin-right: auto; ">{{item.title}}</h1>
                        <a-avatar v-if="item.src" style="height: 100%;width: auto" :src="item.src" shape="square"/>
                        <a-card-meta v-else  :description="item.text">
                        </a-card-meta>
                    </a-card>
                </a-col>
            </a-row>

        </a-page-header>
    </div>
</template>

<script>
    export default {
        name: "Gift",
        data() {
            return {
                metodos:[
                    {
                        title: 'Yape',
                        src: require("@/assets/captura.png"),
                        background: '#5f0672',
                        imgHeader: require('@/assets/yape.png')
                    },
                    {
                         imgHeader: require('@/assets/bcp.png'),
                        background: '#ffffff',
                        src: null,
                        text: "Número de Cuenta : 193-36802410-0-50 a nombre de Alessandro Morales Saravia. "
                    },
                  {
                    title: 'Iota',
                    background: '#027cff',
                    src: require('@/assets/iota-qr.png')
                  },
                ],
            };
        },
    }
</script>

<style scoped>

</style>
