<template>
  <a-result :status="code" :title="code" :sub-title="subtitle">
    <template #extra>
      <a-button type="primary" @click="toHome">
         Regresar al inicio
      </a-button>
    </template>
  </a-result>
</template>

<script lang="js">
export default {
  methods: {
    toHome () {
      this.$gtag.event('toHome', { method: 'Google' })
      this.$router.push({ path: '/' })
    },
  },
  props: {
    title: {},
    subtitle: {
      type: String
    },
    code:{}
  }
}
</script>
