<template>
<div>
    <a-collapse v-model="activeKey" style="width: 240px"  >
        <a-collapse-panel key="1"  >
            <template #header>
                <a-button @click="watchPoints" type="link"  icon="monitor" color="gray" >
                    VER PUNTOS
                </a-button>
            </template>

          <template #default style=";overflow-y: scroll; max-height: 400px " >
                 {{department.name+" - "+province.name}}
              <a-collapse default-active-key="1" :bordered="false">
                  <template #expandIcon="props">
                      <a-icon type="caret-right" :rotate="props.isActive ? 90 : 0" />
                  </template>
                  <template v-for="dist in districts">
                      <a-collapse-panel
                              :key="dist.id"
                              :header="dist.name" >
                          <p v-for="(measuringPoint,index) in dist.measuringPoints"
                             :key="measuringPoint.id">
                              - Punto {{index+1}} : <a @click="goToPoint(measuringPoint)">Ir</a>
                          </p>
                      </a-collapse-panel>
                  </template>
              </a-collapse>
          </template>


        </a-collapse-panel>
    </a-collapse>

</div>
</template>

<script>

    export default {
        name: "PointCardInfo",
        props:{
            districts: {
                default:()=>[],
                type:Array
            },
            province: {
                default:()=>( {}),
                type:Object
            },
            department: {
                default:()=> ({}),
                type:Object
            },
          collapse:{
              default:false,
              type:Boolean
          }

        },
        data() {
            return {
                texts:[
                    {
                        title: 'Lima, Lima, Chorillos',
                        descripcion: ''
                    }

                ],
                activeKey: [],
                onClick:Function,

            };
        },
        computed:{
        },
        methods:{
          goToPoint(point)
          {
              this.$emit('currentPoint',point)
          },
          watchPoints(){
            this.$emit('onClick')
          }
        },
        watch: {
            activeKey(key) {
              if(key.length>0)
              this.$emit('update:collapse',false)
            },
          collapse(value){
              if(!value){
                this.activeKey= ['1']
              }else {
                this.activeKey= []
              }
          }



        },
    }
</script>

<style scoped>

</style>
