<template>
    <div>
        {{id}}
        {{coordenadax}}
        {{coordenaday}}
        {{nombredepartamento}}
        {{nombreprovincia}}
        {{nombredistrito}}
    </div>
</template>

<script>
    export default {
        name: "CardInformationCity",
        props:{
            id: {
                default:766
            },
            coordenadax: {
                default:"-77.21937999989385"
            },
            coordenaday: {
                default:"-10.38610000039708"
            },
            nombredistrito:{
                default: "San Cristobal de Rajan"
            },
            nombreprovincia: {
                default:"OCROS"
            },
            nombredepartamento: {
                default:"ANCASH"
            }
        }
    }
</script>

<style scoped>

</style>
