<template>

        <router-link :to="{path: '/' }" class="logo" active-class="logo-active" >

            <img height="32px" src="@/assets/oximetro-logo.png" :alt="title"/>
          {{title}}
        </router-link>
</template>
<script>
    export default {
        name: 'TheLogo',
        props: {
            theme: {
                default: 'light'
            },
          title:{

          }}
    };

</script>
<style lang="less" >
  @import "node_modules/ant-design-vue/es/style/themes/default.less";
  .logo {
    margin-bottom: 0;
    padding-right: 12px;
    color: @primary-color;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }
  .light .logo-active {
    margin-bottom: 0;
    padding-right: 12px;
    color: @primary-color;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }
  .dark .logo-active {
    margin-bottom: 0;
    padding-right: 12px;
    color: @text-color-inverse;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }

</style>
