<template>
  <a-config-provider :locale="esES">
    <div id="app">
     <basic-layout>
       <keep-alive include="Home">
         <router-view />
       </keep-alive>
     </basic-layout>
    </div>
  </a-config-provider>
</template>

<script>
import * as  esES from 'ant-design-vue/lib/locale-provider/es_ES'
export default {
  name: 'app',
  data() {
    return {
      esES
    }
  },
  components: {
    BasicLayout: () => import( /* webpackChunkName: "basic-layout" */"@/layouts/BasicLayout")
  }
}
</script>


